@using App.Admin;
@using App.Common;
@using App.Models.Sys;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";

List<permModel> perm = (List<permModel>)ViewBag.Perm;
if (perm == null)
{
    perm = new List<permModel>();
}
}
<div class="mvctool">
<input id="txtQuery" type="text" class="searchText"/>
@Html.ToolButton("btnQuery", "icon-search", "查询", perm, "Query", true)
@Html.ToolButton("btnDetails", "icon-details", "详细", perm, "Details", true)
@Html.ToolButton("btnDelete", "icon-remove", "删除", perm, "Delete", true)
</div>

<table id="List"></table>
@*<div id="Pager"></div>*@
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@*Jqgrid*@
<script type="text/javascript">

    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }

    $(function () {
        $('#List').datagrid({
            url: '/SysLog/GetLoginList',
            width: SetGridWidthSub(10),
            methord: 'post',
            height: SetGridHeightSub(39),
            fitColumns: true,
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 10,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            columns: [[
                { field: 'ID', title: 'ID', width: 40, hidden: true },
                { field: 'UserName', title: '登录人', width: 60 },
                { field: 'LogMessage', title: '信息', width: 120 },
                {
                    field: 'LoginTime', title: '登录时间', width: 40, align: 'center', formatter: function (value, row, index) {
                         ;
                        var unixTimestamp = value.toString();
                        return unixTimestamp.toLocaleString();
                    }
                },
                { field: 'LOGTYPE', title: '类型', width: 40, align: 'center' },
                { field: 'ClientIP', title: '客户IP', width: 60, align: 'center' },
                { field: 'ClientName', title: '子系统', width: 65, align: 'center' }
            ]]
        });
    });

</script>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
@*operation*@
<script type="text/javascript">
    $(function () {
      
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            //如果查询条件为空默认查询全部
            if (queryStr == null) {
                queryStr = "%";
            }
            $('#List').datagrid({ url: '/SysLog/GetLoginList?queryStr=' + encodeURI(queryStr) });
        });
        $("#btnDelete").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm( '提示', '@Suggestion.YouWantToDeleteTheSelectedRecords', function (r) {
                    if (r) {
                        $.post("/SysLog/DeleteLogin?ids=" + row.ID, function (data) {
                            if (data.type == 1)
                                $("#List").datagrid('reload');
                            $.messageBox5s('提示',data.message);
                        }, "json");

                    }
                });
            } else {$.messageBox5s('提示','@Suggestion.PlaseChooseToOperatingRecords'); }
        });
    });
</script>